In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["Bilal", "Afan", "Saqib", "Junaid", "Sara", "Ali"],
    "Department": ["IT", "HR", "IT", "Finance", "IT", "HR"],
    "Age": [25, 30, 22, 40, 28, 35],
    "Salary": [50000, 70000, 45000, 90000, 60000, 52000]
}

df = pd.DataFrame(data)

print("--- Original Data ---")
print(df)

--- Original Data ---
     Name Department  Age  Salary
0   Bilal         IT   25   50000
1    Afan         HR   30   70000
2   Saqib         IT   22   45000
3  Junaid    Finance   40   90000
4    Sara         IT   28   60000
5     Ali         HR   35   52000

In [3]:
# Part 1: Conditional Filtering (The "Classic" Way)

# Syntax: df[ condition ]
# This is also called Boolean Indexing.
# Inner Part: df['Age'] > 25 creates a list of True/False values.
# Outer Part: df[...] keeps only the rows marked "True".
# full syntex: df[df[condition]]

In [5]:
# 1. Simple Single Condition
# "Show me employees older than 25."

# The condition is inside the square brackets
older_employees = df[df['Age'] > 25]

print("\n--- Age > 25 ---")
print(older_employees)

--- Age > 25 ---
     Name Department  Age  Salary
1    Afan         HR   30   70000
3  Junaid    Finance   40   90000
4    Sara         IT   28   60000
5     Ali         HR   35   52000

In [6]:
# 2. Multiple Conditions (& for AND, | for OR)
# Crucial Rule: When using multiple conditions in this method, you MUST wrap each condition in parentheses (). If you forget them, Pandas will give an error.
# "Show me employees in IT who earn more than 55k."
# Note the parentheses () around each part!

high_paid_it = df[(df['Department'] == 'IT') & (df['Salary'] > 55000)]
print("\n--- IT AND Salary > 55k ---")
print(high_paid_it)

--- IT AND Salary > 55k ---
   Name Department  Age  Salary
4  Sara         IT   28   60000

In [7]:
# 3. The .isin() Trick
# "Show me employees in HR OR Finance." Instead of writing (Dept == 'HR') | (Dept == 'Finance'), you can use .isin().

target_depts = ["HR", "Finance"]
result = df[df['Department'].isin(target_depts)]
print("\n--- Department is in HR or Finance ---")
print(result)

--- Department is in HR or Finance ---
     Name Department  Age  Salary
1    Afan         HR   30   70000
3  Junaid    Finance   40   90000
5     Ali         HR   35   52000

In [8]:
# Part 2: The Query Method (.query())
# Syntax: df.query('string condition')
# This is the "Clean" way. It looks like SQL.
# Pros: You don't need df['...'] repeatedly. You can use words like and/or.
# Cons: You have to handle quotes carefully.

# 1. Simple Query
# "Show me employees older than 25."
# Notice: The whole thing is a string
result = df.query('Age > 25')
print("\n--- Query: Age > 25 ---")
print(result)

--- Query: Age > 25 ---
     Name Department  Age  Salary
1    Afan         HR   30   70000
3  Junaid    Finance   40   90000
4    Sara         IT   28   60000
5     Ali         HR   35   52000

In [9]:
# 2. Multiple Conditions (and, or)
# "Show me employees in IT who earn more than 55k."

# Notice: We use double quotes "..." outside so we can use single quotes '...' inside for text
result = df.query("Department == 'IT' and Salary > 55000")
print("\n--- Query: IT and High Salary ---")
print(result)

--- Query: IT and High Salary ---
   Name Department  Age  Salary
4  Sara         IT   28   60000

In [10]:
# 3. Using Python Variables (@ symbol)
# This is the most powerful feature for programmers. If you have a variable min_age = 30, query() doesn't know what min_age is because it's looking inside the dataframe columns. You use @ to tell it: "Look outside the dataframe for this variable."
min_salary = 65000

# We use @min_salary to refer to the variable above
result = df.query('Salary > @min_salary')

print(f"\n--- Query using variable: Salary > {min_salary} ---")
print(result)

--- Query using variable: Salary > 65000 ---
     Name Department  Age  Salary
1    Afan         HR   30   70000
3  Junaid    Finance   40   90000