In [1]:
import pandas as pd

In [2]:
import pandas as pd

data = {
    "Name": ["Bilal", "Afan", "Saqib", "Junaid", "Sara"],
    "City": ["Islamabad", "Lahore", "Karachi", "Peshawar", "Quetta"],
    "Age": [25, 30, 22, 40, 28],
    "Salary": [50000, 70000, 45000, 90000, 60000]
}

df = pd.DataFrame(data)

# Set 'Name' as the Index so we have text labels for rows
df = df.set_index("Name")

print("--- The DataFrame ---")
print(df)

--- The DataFrame ---
             City  Age  Salary
Name
Bilal   Islamabad   25   50000
Afan       Lahore   30   70000
Saqib     Karachi   22   45000
Junaid   Peshawar   40   90000
Sara       Quetta   28   60000

In [5]:
# Part 1: .loc[] (Label Based)
# Syntax: df.loc[row_label, column_label]
# You must use the exact names.

# 1. Select a Single Value "Give me the City of Afan."
print(df.loc["Afan", "City"])

Lahore

In [6]:
# 2. Select Multiple Rows & Columns "Give me the City and Age for Bilal and Saqib."
# Pass lists ["A", "B"]
print(df.loc[["Bilal", "Saqib"], ["City", "Age"]])

            City  Age
Name
Bilal  Islamabad   25
Saqib    Karachi   22

In [10]:
# 3. Slicing (The Range) "Give me everyone from Bilal TO Saqib."
# Crucial Rule: In .loc, the last item is INCLUDED.
# Notice: 'Saqib' IS included in the result
print(df.loc["Bilal":"Saqib"])

            City  Age  Salary
Name
Bilal  Islamabad   25   50000
Afan      Lahore   30   70000
Saqib    Karachi   22   45000

In [11]:
# Part 3: .iloc[] (Index/Position Based)
# Syntax: df.iloc[row_position, column_position]
# You must use integers (0, 1, 2...). You cannot use names.


# 1. Select a Single Value "Give me the 1st Row and the 2nd Column." (Remember Python starts at 0).
# Row 0 = Bilal, Row 1 = Afan.
# Col 0 = City, Col 1 = Age.
# Row 1 (Afan), Column 1 (Age)
print(df.iloc[1, 1])
# Output: 30

30

In [12]:
# 2. Select specific positions

# Rows 0 and 2. Columns 0 and 2.
print(df.iloc[[0, 2], [0, 2]])

            City  Salary
Name
Bilal  Islamabad   50000
Saqib    Karachi   45000

In [15]:
# 3. Slicing (The Range) "Give me rows 0 to 2."

# Crucial Rule: In .iloc, the last item is EXCLUDED (Standard Python rule). 0:3 gives you 0 and 2.
# This gives rows 0,1,2. Row 3 is EXCLUDED.
print(df.iloc[0:3, 0:3])

            City  Age  Salary
Name
Bilal  Islamabad   25   50000
Afan      Lahore   30   70000
Saqib    Karachi   22   45000