In [2]:
import pandas as pd

In [3]:
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [4]:
# first we have to know about our data,   
# how big is our data, no of rows and columns, this helps to understand the scale of dataset 
# name of column of data set, so that we can access them and can modify as required 

#to solve these problems pandas provides us three attributes, 'shape', 'column' and 'dtype'
#shape:  returns a tuple containing two values   no of rows and no of column 
# column:  shows the names of all column in dataset 
# dtype will show the data type of that column values

print(f'Shape: {df.shape}')
print(f'Column_name: {df.columns}')
print(df.shape)        # Shows (Rows, Columns) -> (5, 4)
print(df.dtypes)       # Shows data type of each column (Object means Text)

Shape: (8, 4)
Column_name: Index(['name', 'age', 'sallary', 'performance_score'], dtype='object')
(8, 4)
name                 object
age                   int64
sallary               int64
performance_score     int64
dtype: object