In [ ]:
import pandas as pd

In [ ]:
#step 1:  sample data frame
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [5]:
print("Discriptive Statistics: ")
print(df.describe())

# descrbe method shows statistical info of dataset like in below output,
#count: represents number of non null values
#mean:  represents mean, average value of data set
# std:   represents the standered daviation of dataset, to check the consistancy
#min:   represents the minimum value in data set column 
#25%:   means 1st quartile 
#50%:   means 2nd quartile, also known as median 
#75%:   means 3rd quartile
# max:   represents the largest value in dataset column

Discriptive Statistics:
             age       sallary  performance_score
count   8.000000      8.000000           8.000000
mean   32.625000  42312.500000          77.000000
std    11.685614  12544.029599          16.115653
min    21.000000  20000.000000          50.000000
25%    22.750000  37500.000000          66.000000
50%    29.000000  44000.000000          82.000000
75%    43.250000  50125.000000          89.250000
max    50.000000  60000.000000          95.000000