In [1]:
# sorting is the meann of arranging the data based on the values of one or more columns:
# we cn sort data in ascending or decendingn order both alphatically or numerically 
# for this we use a function    sort_values()     
import pandas as pd

In [2]:
# sample data frame
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [6]:
#Sorting data one column: 
# syntex: df.sort_values(by="column_name", ascendin or decending , inplace)

df.sort_values(by="name", ascending=True, inplace=True)  # if i do ascending = false   then data will sort in decending order
df.reset_index(drop=True, inplace=True) #.reset_index() used when we arrange the data the number at left sides will also be moved along arranged data, To make it look clean (0, 1, 2, 3...), use .reset_index().
print("Data Sorted in Ascending order based on column name: ")
print(df)

Data Sorted in Ascending order based on column name:
           name  age  sallary  performance_score
0   Abdul Qadar   44    60000                 90
1    Afan Hafiz   23    30000                 60
2    Ameen Khan   50    50500                 86
3   Bilal Kiani   22    20000                 50
4  Junaid Kiani   43    45000                 68
5  Saood Sheikh   21    50000                 78
6  Saqib Sheikh   34    43000                 95
7  Shabbar Alam   24    40000                 89

In [8]:
# if we wana sort based on multiple columns: 
# This tells Pandas the order of priority:
# Priority 1: First, sort everyone by their performance_score.
# Priority 2 (The Tie-Breaker): If (and only if) two employees have the exact same performance score, then look at their sallary to decide who comes first.
# syntex:    df.sort_values(by=["column1", "column2", ...], ascending = [True/False, True/False, ...], inplace = True/False)

df.sort_values(by=["performance_score", "sallary"], ascending=[False, False], inplace=True)
df.reset_index(drop=True, inplace=True)   # by using .reset_index()   the indexs will remain clean and consistant as 0,1,2,3,...
print("Data sorted who have more score will get more sallary: ")
print(df)

Data sorted who have more score will get more sallary:
           name  age  sallary  performance_score
0  Saqib Sheikh   34    43000                 95
1   Abdul Qadar   44    60000                 90
2  Shabbar Alam   24    40000                 89
3    Ameen Khan   50    50500                 86
4  Saood Sheikh   21    50000                 78
5  Junaid Kiani   43    45000                 68
6    Afan Hafiz   23    30000                 60
7   Bilal Kiani   22    20000                 50