In [1]:
# Aggregation is different. It takes many rows and squashes them down into a single number (like a sum, average, or count).
import pandas as pd

In [4]:
# Sample Data
Employees_data = {
    "Name": ["Bilal", "Afan", "Saqib", "Junaid", "Ali", "Sara", "Asad", "Asghar", "Mamoon"],
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT", "Finance", "IT", "HR"],
    "Salary": [50000, 30000, 45000, 60000, 32000, 52000, 55000, 40000, 48000],
    "Experience_Years": [2, 1, 2, 5, 2, 3, 6, 3, 4]
}

df = pd.DataFrame(Employees_data)
print("Original Data:")
print(df)

Original Data:
     Name Department  Salary  Experience_Years
0   Bilal         IT   50000                 2
1    Afan         HR   30000                 1
2   Saqib         IT   45000                 2
3  Junaid    Finance   60000                 5
4     Ali         HR   32000                 2
5    Sara         IT   52000                 3
6    Asad    Finance   55000                 6
7  Asghar         IT   40000                 3
8  Mamoon         HR   48000                 4

In [10]:
# if i wana check the average sallary we calculate mean()
average_sallary = df["Salary"].mean()  # this will give us the average sallary 
print(average_sallary)
# same i wana check maximum and minimum year_experience, and also wana check the sum of sallary 
max_exp = df["Experience_Years"].max()
min_exp = df["Experience_Years"].min()
total_sal = df["Salary"].sum()
print("Maximum Experience is: ", max_exp, "years and minimum Experience is: ", min_exp, "years and the total salary goes to Employees is: ", total_sal)

45777.77777777778
Maximum Experience is:  6 years and minimum Experience is:  1 years and the total salary goes to Employees is:  412000

In [12]:
#some statistcal operation: 
# sum(): will calculate the sum 
# mean():  will calculate the average value 
# count():  will return the numver of nonNaN values  
# min(): wil return the minimum value  
# max():  will return the maximum value 
# std():  will find the standered daviation of data