In [1]:
import pandas as pd

In [2]:
# Sample Data
Employees_data = {
    "Name": ["Bilal", "Afan", "Saqib", "Junaid", "Ali", "Sara", "Asad", "Asghar", "Mamoon"],
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT", "Finance", "IT", "HR"],
    "Salary": [50000, 30000, 45000, 60000, 32000, 52000, 55000, 40000, 48000],
    "Experience_Years": [2, 1, 2, 5, 2, 3, 6, 3, 4]
}

df = pd.DataFrame(Employees_data)
print("Original Data:")
print(df)

Original Data:
     Name Department  Salary  Experience_Years
0   Bilal         IT   50000                 2
1    Afan         HR   30000                 1
2   Saqib         IT   45000                 2
3  Junaid    Finance   60000                 5
4     Ali         HR   32000                 2
5    Sara         IT   52000                 3
6    Asad    Finance   55000                 6
7  Asghar         IT   40000                 3
8  Mamoon         HR   48000                 4

In [4]:
# .groupby  method:  when we need to group to column and then perform statistical operation we use .groupby   methhod, like
# in above data set we have columns  "Department" and "Salary",  i wana check that hwo much sallary goes to each department, means sum of each department salary,
# syntex:    df.groupby("column1")["column2"].statistical_operation
each_Dpt_Total_sal = df.groupby("Department")["Salary"].sum()
print("Total Sallaries goes to Each Department are: ")
print(each_Dpt_Total_sal)

Total Sallaries goes to Each Department are:
Department
Finance    115000
HR         110000
IT         187000
Name: Salary, dtype: int64

In [8]:
# now i wana combine columns and then find statistical operation 
# syntex:   df.groupby(["column1", "column2", ...]).["column3"].sts_opr     
sal_name_dep = df.groupby(["Department", "Name"])["Salary"].sum()   # normally this is ued when we wana calculate something based on multiple column, 
print(sal_name_dep)

Department  Name
Finance     Asad      55000
            Junaid    60000
HR          Afan      30000
            Ali       32000
            Mamoon    48000
IT          Asghar    40000
            Bilal     50000
            Saqib     45000
            Sara      52000
Name: Salary, dtype: int64

In [9]:
# and if wana find min, max, sum etc at once we will use .agg() method
# syntex:    df.groupby("column_-name")["column_name"].agg(['min', 'max', 'mean', ...])
department_sts = df.groupby("Department")["Salary"].agg(['min', 'max', 'mean'])
print("Department statistics: ")
print(department_sts)

Department statistics:
              min    max          mean
Department
Finance     55000  60000  57500.000000
HR          30000  48000  36666.666667
IT          40000  52000  46750.000000