In [1]:
import pandas as pd

data = {
    "Employee_ID": ["EMP-101", "EMP-102", "EMP-103", "EMP-104"],
    "Name": ["Bilal Kiani", "Afan Hafiz", "Saqib Sheikh", "Junaid Khan"],
    "Salary": [50000, 70000, 45000, 60000],
    "Bonus": [5000, 7000, 4500, 6000],
    "Department": ["IT Support", "HR Manager", "IT Developer", "Finance Lead"]
}

df = pd.DataFrame(data)

print("--- Original Data ---")
print(df)

--- Original Data ---
  Employee_ID          Name  Salary  Bonus    Department
0     EMP-101   Bilal Kiani   50000   5000    IT Support
1     EMP-102    Afan Hafiz   70000   7000    HR Manager
2     EMP-103  Saqib Sheikh   45000   4500  IT Developer
3     EMP-104   Junaid Khan   60000   6000  Finance Lead

In [2]:
# Part 1: Column Math (Creating New Columns)
# This works just like Excel formulas. You select column A, select column B, and add them.
# Syntax: df["New_Column"] = df["A"] + df["B"]
# 1. Basic Math (+, -, *, /) 

# "Calculate Total Income (Salary + Bonus)."
# Create a new column 'Total_Income'
df["Total_Income"] = df["Salary"] + df["Bonus"]
print("\n--- Added Total Income ---")
print(df[["Name", "Salary", "Bonus", "Total_Income"]])

--- Added Total Income ---
           Name  Salary  Bonus  Total_Income
0   Bilal Kiani   50000   5000         55000
1    Afan Hafiz   70000   7000         77000
2  Saqib Sheikh   45000   4500         49500
3   Junaid Khan   60000   6000         66000

In [5]:
# 2. Constant Math
# "Give everyone a 20% raise."

# Multiply the whole column by 1.20
df["New_Salary"] = df["Salary"] * 2.10
print(df)

  Employee_ID          Name  Salary  Bonus    Department  Total_Income  \
0     EMP-101   Bilal Kiani   50000   5000    IT Support         55000
1     EMP-102    Afan Hafiz   70000   7000    HR Manager         77000
2     EMP-103  Saqib Sheikh   45000   4500  IT Developer         49500
3     EMP-104   Junaid Khan   60000   6000  Finance Lead         66000

   New_Salary
0    105000.0
1    147000.0
2     94500.0
3    126000.0