In [1]:
import pandas as pd

data = {
    "Employee_ID": ["EMP-101", "EMP-102", "EMP-103", "EMP-104"],
    "Name": ["Bilal Kiani", "Afan Hafiz", "Saqib Sheikh", "Junaid Khan"],
    "Salary": [50000, 70000, 45000, 60000],
    "Bonus": [5000, 7000, 4500, 6000],
    "Department": ["IT Support", "HR Manager", "IT Developer", "Finance Lead"]
}

df = pd.DataFrame(data)

print("--- Original Data ---")
print(df)

--- Original Data ---
  Employee_ID          Name  Salary  Bonus    Department
0     EMP-101   Bilal Kiani   50000   5000    IT Support
1     EMP-102    Afan Hafiz   70000   7000    HR Manager
2     EMP-103  Saqib Sheikh   45000   4500  IT Developer
3     EMP-104   Junaid Khan   60000   6000  Finance Lead

In [3]:
# String Operations (.str)
# Pandas is famous for how easily it handles text. You can't just write df["Name"].lower(). You must use the .str accessor to tell Pandas: "Treat these values as strings."

# 1. Changing Case (Lower/Upper)
# "Make the names consistent (Uppercase)."

df["Name_Upper"] = df["Name"].str.upper()

print("\n--- Uppercase Names ---")
print(df[["Name", "Name_Upper"]])

--- Uppercase Names ---
           Name    Name_Upper
0   BILAL KIANI   BILAL KIANI
1    AFAN HAFIZ    AFAN HAFIZ
2  SAQIB SHEIKH  SAQIB SHEIKH
3   JUNAID KHAN   JUNAID KHAN

In [4]:
# 2. Splitting Text (.str.split)
# "Split 'Bilal Kiani' into 'Bilal' and 'Kiani'."

# This creates a list ["Bilal", "Kiani"]
# expand=True separates them into distinct columns
name_split = df["Name"].str.split(" ", expand=True)

# Assign them to new columns
df["First_Name"] = name_split[0]
df["Last_Name"] = name_split[1]

print("\n--- Split Names ---")
print(df[["Name", "First_Name", "Last_Name"]])

--- Split Names ---
           Name First_Name Last_Name
0   BILAL KIANI      BILAL     KIANI
1    AFAN HAFIZ       AFAN     HAFIZ
2  SAQIB SHEIKH      SAQIB    SHEIKH
3   JUNAID KHAN     JUNAID      KHAN

In [5]:
# 3. Searching Text (.str.contains)
# "Find everyone who works in IT." (Looking for the substring "IT" inside "IT Support" and "IT Developer").

# Returns True/False
it_staff = df[df["Department"].str.contains("IT")]

print("\n--- Contains 'IT' ---")
print(it_staff)

--- Contains 'IT' ---
  Employee_ID          Name  Salary  Bonus    Department    Name_Upper  \
0     EMP-101   BILAL KIANI   50000   5000    IT Support   BILAL KIANI
2     EMP-103  SAQIB SHEIKH   45000   4500  IT Developer  SAQIB SHEIKH

  First_Name Last_Name
0      BILAL     KIANI
2      SAQIB    SHEIKH

In [7]:
# 4. Replacing Text (.str.replace)
# "Remove the 'EMP-' prefix from IDs so we just have numbers."

df["Employee_ID"] = df["Employee_ID"].str.replace("EMP-", "")
print(df["Employee_ID"])

0    101
1    102
2    103
3    104
Name: Employee_ID, dtype: object