In [1]:
import pandas as pd

In [2]:
# representation of missing values:     1- NaN (not a number),    2- None (for object data types)
# first we hwave to identify missing values,   for this pandas provide us a method   isnull()
# when using isnull()  method, it wil return boolien dataframe, as True or False,  if True means NaN is missing, value is missing, if False means value is present not missing

# let say we have this sample data frame, containing whole row two none value:
Employee_data = {
    "name": ["Bilal Kiani", None, "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, None, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, None, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, None, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name   age  sallary  performance_score
0   Bilal Kiani  22.0  20000.0               50.0
1          None   NaN      NaN                NaN
2  Shabbar Alam  24.0  40000.0               89.0
3  Saood Sheikh  21.0  50000.0               78.0
4  Junaid Kiani  43.0  45000.0               68.0
5   Abdul Qadar  44.0  60000.0               90.0
6  Saqib Sheikh  34.0  43000.0               95.0
7    Ameen Khan  50.0  50500.0               86.0

In [3]:
# now we have to identify we use .isnull()
print(df.isnull())

    name    age  sallary  performance_score
0  False  False    False              False
1   True   True     True               True
2  False  False    False              False
3  False  False    False              False
4  False  False    False              False
5  False  False    False              False
6  False  False    False              False
7  False  False    False              False

In [5]:
# now if we have to know number of missing values we use .isnull().sum
print(df.isnull().sum())

name                 1
age                  1
sallary              1
performance_score    1
dtype: int64