In [1]:
import pandas as pd

In [2]:
# sample data frame:
Employee_data = {
    "name": ["Bilal Kiani", "Afan", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, None, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, None, 40000, 50000, None, 60000, 43000, 50500],
    "performance_score": [50, None, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name   age  sallary  performance_score
0   Bilal Kiani  22.0  20000.0               50.0
1          Afan   NaN      NaN                NaN
2  Shabbar Alam  24.0  40000.0               89.0
3  Saood Sheikh  21.0  50000.0               78.0
4  Junaid Kiani  43.0      NaN               68.0
5   Abdul Qadar  44.0  60000.0               90.0
6  Saqib Sheikh  34.0  43000.0               95.0
7    Ameen Khan  50.0  50500.0               86.0

In [3]:
# Way-3    interpolation,  this is a technique by which we fill and estimated value in place of missing values, e.g.  we have a list[10, 20,  , 40, 50] in this list one value is missing but we can estimate it by series what will be value here this is an interpolation. only for numerical columns
# interpolation are like:   linear interpolation, polynomial interpolation, time,   these are important but there are more inpandas

#why to use interpolation: 
#     to preserve data integritiy
#     smooth trends 
#     avoid data loss 
# for this pandas provides us a method  interpolate()
# syntex:   df.interpolate(method, axis= 0 or 1,  inplace= True)

df.interpolate(method="linear", axis=0, inplace=True)
print(df)

           name   age  sallary  performance_score
0   Bilal Kiani  22.0  20000.0               50.0
1          Afan  23.0  30000.0               69.5
2  Shabbar Alam  24.0  40000.0               89.0
3  Saood Sheikh  21.0  50000.0               78.0
4  Junaid Kiani  43.0  55000.0               68.0
5   Abdul Qadar  44.0  60000.0               90.0
6  Saqib Sheikh  34.0  43000.0               95.0
7    Ameen Khan  50.0  50500.0               86.0

C:\Users\Bilal Kiani\AppData\Local\Temp\ipykernel_35676\2617925632.py:11: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear", axis=0, inplace=True)

In [4]:
# we use interpolation when we are working with:
#      time series data, 
#      numeric data with trends, 
#      avoid droping rows 
# disadvantegs: 
#     it does not works with catagorical data,