In [1]:
import pandas as pd

In [2]:
# merging is used to merge two tables: 

# The Scenario: Employees & Projects
# Imagine a software house.
# The "Employees" Table: Lists your staff and which Project ID they are assigned to.
# Note: Some employees (like Junaid) are on the "Bench" (assigned to Project ID 0 or None).
# The "Projects" Table: Lists the active projects and their budgets.
# Note: Some new projects (like the "Mobile App") have no one assigned to them yet.

# --- Table A: Employees (The Left Table) ---
employees = {
    "Emp_ID": [1, 2, 3, 4, 5, 6, 7, 8],
    "Name": ["Bilal", "Afan", "Saqib", "Sara", "Ali", "Junaid", "Asad", "Zara"],
    "Role": ["Dev", "Lead", "Dev", "Dev", "Intern", "Manager", "Dev", "HR"],
    "Pr_ID": [101, 101, 102, 102, 103, 101, 999, 888] 
    # Note: 101, 102, 103 exist in projects. 
    # 999 and 888 do NOT exist in projects (these people are on unlisted/old projects).
}
df_emp = pd.DataFrame(employees)

# --- Table B: Projects (The Right Table) ---
projects = {
    "Pr_ID": [101, 102, 103, 104, 105],
    "Project_Name": ["AI System", "Website", "Android App", "IOS App", "Cyber Security"],
    "Budget": [5000, 2000, 3000, 4000, 8000]
    # Note: 104 and 105 exist here, but NO employee is assigned to them yet.
}
df_proj = pd.DataFrame(projects)

print("--- Employees ---")
print(df_emp)
print("\n--- Projects ---")
print(df_proj)

--- Employees ---
   Emp_ID    Name     Role  Pr_ID
0       1   Bilal      Dev    101
1       2    Afan     Lead    101
2       3   Saqib      Dev    102
3       4    Sara      Dev    102
4       5     Ali   Intern    103
5       6  Junaid  Manager    101
6       7    Asad      Dev    999
7       8    Zara       HR    888

--- Projects ---
   Pr_ID    Project_Name  Budget
0    101       AI System    5000
1    102         Website    2000
2    103     Android App    3000
3    104         IOS App    4000
4    105  Cyber Security    8000

In [4]:
#   we Merge the tables on the basis of a column named "Pr_ID"
# Syntex:    df.merge(table1, table2, on= "column_name", how= merge type)
# Some merge types are:   inner join, outer join, left join, right join 

# (1). Inner Join (how='inner'): 
# Only keep rows where the Key exists in BOTH tables.
# Only show employees working on VALID active projects
df_inner = pd.merge(df_emp, df_proj, on="Pr_ID", how="inner")
print("--- INNER JOIN (Only Matches) ---")
print(df_inner)
# Who is lost?
# Employees with IDs 999 & 888 (Asad, Zara) are deleted (Project doesn't exist).
# Projects 104 & 105 (IOS, Cyber) are deleted (No employee assigned).

--- INNER JOIN (Only Matches) ---
   Emp_ID    Name     Role  Pr_ID Project_Name  Budget
0       1   Bilal      Dev    101    AI System    5000
1       2    Afan     Lead    101    AI System    5000
2       3   Saqib      Dev    102      Website    2000
3       4    Sara      Dev    102      Website    2000
4       5     Ali   Intern    103  Android App    3000
5       6  Junaid  Manager    101    AI System    5000

In [6]:
# (2). Outer Join (how='outer')
# "The Full Picture"
# Logic: Keep EVERYTHING.
# All Employees (even if project is missing).
# All Projects (even if employee is missing).
# Show Everything. Don't delete any data.
df_outer = pd.merge(df_emp, df_proj, on="Pr_ID", how="outer")
print("--- OUTER JOIN (Everything) ---")
print(df_outer)
# Who is lost? Nobody. This creates the largest dataset with many NaN values.
# here in final table the project 104 and 105 not assigned to any one:

--- OUTER JOIN (Everything) ---
   Emp_ID    Name     Role  Pr_ID    Project_Name  Budget
0     1.0   Bilal      Dev    101       AI System  5000.0
1     2.0    Afan     Lead    101       AI System  5000.0
2     6.0  Junaid  Manager    101       AI System  5000.0
3     3.0   Saqib      Dev    102         Website  2000.0
4     4.0    Sara      Dev    102         Website  2000.0
5     5.0     Ali   Intern    103     Android App  3000.0
6     NaN     NaN      NaN    104         IOS App  4000.0
7     NaN     NaN      NaN    105  Cyber Security  8000.0
8     8.0    Zara       HR    888             NaN     NaN
9     7.0    Asad      Dev    999             NaN     NaN

In [8]:
# (3). Left Join (how='left')
# "Keep the Main List" (Most Common)
# Logic: Keep ALL Employees (Left Table). If their project info is found, add it. If not, put NaN.
# Show ALL employees, and their project info if available
df_left = pd.merge(df_emp, df_proj, on="Pr_ID", how="left")
print("--- LEFT JOIN (All Employees) ---")
print(df_left)
# Who is lost?
# Projects 104 & 105 (IOS, Cyber) are deleted because no one from the Left table is working on them.
# Observation: Look at Asad. He is kept, but his Project_Name is NaN because Project 999 doesn't exist in the database.

--- LEFT JOIN (All Employees) ---
   Emp_ID    Name     Role  Pr_ID Project_Name  Budget
0       1   Bilal      Dev    101    AI System  5000.0
1       2    Afan     Lead    101    AI System  5000.0
2       3   Saqib      Dev    102      Website  2000.0
3       4    Sara      Dev    102      Website  2000.0
4       5     Ali   Intern    103  Android App  3000.0
5       6  Junaid  Manager    101    AI System  5000.0
6       7    Asad      Dev    999          NaN     NaN
7       8    Zara       HR    888          NaN     NaN

In [9]:
# (4). Right Join (how='right')
# "The Audit"
# Logic: Keep ALL Projects (Right Table). Map employees to them. If a project has no people, show it anyway with NaN for the name.
# Show ALL projects, and who is working on them (if anyone)
df_right = pd.merge(df_emp, df_proj, on="Pr_ID", how="right")
print("--- RIGHT JOIN (All Projects) ---")
print(df_right)
# Who is lost?
# Employees Asad and Zara are deleted because their project IDs (999, 888) are not in the Right table.
# Observation: Look at the IOS App. It appears now! The name is NaN because no one is working on it.

--- RIGHT JOIN (All Projects) ---
   Emp_ID    Name     Role  Pr_ID    Project_Name  Budget
0     1.0   Bilal      Dev    101       AI System    5000
1     2.0    Afan     Lead    101       AI System    5000
2     6.0  Junaid  Manager    101       AI System    5000
3     3.0   Saqib      Dev    102         Website    2000
4     4.0    Sara      Dev    102         Website    2000
5     5.0     Ali   Intern    103     Android App    3000
6     NaN     NaN      NaN    104         IOS App    4000
7     NaN     NaN      NaN    105  Cyber Security    8000

In [12]:
# (5). Cross Join (how= "cross")
# The Concept: "The Hypothetical Assignment"In a Cross Join (how='cross'),
# we ignore the actual Pr_ID. We don't care who is actually working on what.Instead, we say:
# "Pair every single employee with every single project.
# "Input: 8 Employees.
# Input: 5 Projects.
# Output: 8*5 = 40 Rows.

df_cross = pd.merge(df_emp, df_proj, how="cross")
print("\n--- CROSS JOIN (All Possible Combinations) ---")
print(df_cross)

--- CROSS JOIN (All Possible Combinations) ---
    Emp_ID    Name     Role  Pr_ID_x  Pr_ID_y    Project_Name  Budget
0        1   Bilal      Dev      101      101       AI System    5000
1        1   Bilal      Dev      101      102         Website    2000
2        1   Bilal      Dev      101      103     Android App    3000
3        1   Bilal      Dev      101      104         IOS App    4000
4        1   Bilal      Dev      101      105  Cyber Security    8000
5        2    Afan     Lead      101      101       AI System    5000
6        2    Afan     Lead      101      102         Website    2000
7        2    Afan     Lead      101      103     Android App    3000
8        2    Afan     Lead      101      104         IOS App    4000
9        2    Afan     Lead      101      105  Cyber Security    8000
10       3   Saqib      Dev      102      101       AI System    5000
11       3   Saqib      Dev      102      102         Website    2000
12       3   Saqib      Dev      102      103     Android App    3000
13       3   Saqib      Dev      102      104         IOS App    4000
14       3   Saqib      Dev      102      105  Cyber Security    8000
15       4    Sara      Dev      102      101       AI System    5000
16       4    Sara      Dev      102      102         Website    2000
17       4    Sara      Dev      102      103     Android App    3000
18       4    Sara      Dev      102      104         IOS App    4000
19       4    Sara      Dev      102      105  Cyber Security    8000
20       5     Ali   Intern      103      101       AI System    5000
21       5     Ali   Intern      103      102         Website    2000
22       5     Ali   Intern      103      103     Android App    3000
23       5     Ali   Intern      103      104         IOS App    4000
24       5     Ali   Intern      103      105  Cyber Security    8000
25       6  Junaid  Manager      101      101       AI System    5000
26       6  Junaid  Manager      101      102         Website    2000
27       6  Junaid  Manager      101      103     Android App    3000
28       6  Junaid  Manager      101      104         IOS App    4000
29       6  Junaid  Manager      101      105  Cyber Security    8000
30       7    Asad      Dev      999      101       AI System    5000
31       7    Asad      Dev      999      102         Website    2000
32       7    Asad      Dev      999      103     Android App    3000
33       7    Asad      Dev      999      104         IOS App    4000
34       7    Asad      Dev      999      105  Cyber Security    8000
35       8    Zara       HR      888      101       AI System    5000
36       8    Zara       HR      888      102         Website    2000
37       8    Zara       HR      888      103     Android App    3000
38       8    Zara       HR      888      104         IOS App    4000
39       8    Zara       HR      888      105  Cyber Security    8000