In [1]:
import pandas as pd

In [2]:
# Concatenation (pd.concat), we need to adjust the scenario slightly because concatenation works best when you are stacking similar things.
# There are two ways to glue:
#     Axis 0 (Vertical): Adding more Rows (The most common way).
    # Axis 1 (Horizontal): Adding more Columns (Side-by-side).

In [4]:
# Scenario 1: Vertical Concatenation (Axis = 0)
# Imagine you have your original list of employees (df_emp). Then, your company hires 3 new people, and they are sent to you in a separate file called df_new_hires. You need to make one master list.

# --- 1. The Original Team
original_team = {
    "Name": ["Bilal", "Afan", "Saqib"],
    "Role": ["Dev", "Lead", "Dev"]
}
df_emp = pd.DataFrame(original_team)
# --- 2. The New Hires (New Data) ---
new_hires = {
    "Name": ["Hamza", "Dawood", "Umer"],
    "Role": ["Intern", "Dev", "Manager"]
}
df_new_hires = pd.DataFrame(new_hires)
print("--- Original Employees ---")
print(df_emp)
print("\n--- New hires Employees ---")
print(df_new_hires)

# ---  Concatenation (Stacking them) ---
# axis=0 means "Stack downwards"
# ignore_index=True means "Reset the row numbers to 0, 1, 2, 3, 4, 5"
full_team = pd.concat([df_emp, df_new_hires], axis=0, ignore_index=True) # if we not specify axis, by default it is 0 means it wil concatinate row, downward
print("\n--- Concatenated Result (All Employees) AS Downwad(axis = 0) ---")
print(full_team)

--- Original Employees ---
    Name  Role
0  Bilal   Dev
1   Afan  Lead
2  Saqib   Dev

--- New hires Employees ---
     Name     Role
0   Hamza   Intern
1  Dawood      Dev
2    Umer  Manager

--- Concatenated Result (All Employees) AS Downwad(axis = 0) ---
     Name     Role
0   Bilal      Dev
1    Afan     Lead
2   Saqib      Dev
3   Hamza   Intern
4  Dawood      Dev
5    Umer  Manager

In [5]:
# Scenario 2: Horizontal Concatenation (Axis = 1)
# "The Split Files" Imagine the HR department sends you two files about the exact same employees in the exact same order.
# File A has their Names.
# File B has their Salaries. You want to glue them side-by-side.
# Warning: This is dangerous! If the rows aren't in the exact same order, you will assign the wrong salary to the wrong person. (This is why pd.merge is usually safer).

# --- File 1: Names ---
df_names = pd.DataFrame({
    "Name": ["Bilal", "Afan", "Saqib"]
})
# --- File 2: Salaries (Must be in same order!) ---
df_salaries = pd.DataFrame({
    "Salary": [50000, 80000, 45000],
    "Experience": [2, 5, 2]
})
# --- Concatenation (Gluing Sideways) ---
# axis=1 means "Stack Sideways"
combined_info = pd.concat([df_names, df_salaries], axis=1)
print("\n--- Horizontal Concatenation ---")
print(combined_info)

--- Horizontal Concatenation ---
    Name  Salary  Experience
0  Bilal   50000           2
1   Afan   80000           5
2  Saqib   45000           2