In [1]:
import pandas as pd

In [2]:
# sample data frame
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [3]:
# there are two methods of adding new column in dataset 
# 1- adding through assignment, and it will add column at the end of all columns
#syntex:       df["column_name"] = some_data
print("Employee data now with extra column Bonous: ")
df["Bonous"] = df["sallary"]*0.1    # by this we added new column "bonous" at last,   bonous is 10 percent of sallary
print(df)

Employee data now with extra column Bonous:
           name  age  sallary  performance_score  Bonous
0   Bilal Kiani   22    20000                 50  2000.0
1    Afan Hafiz   23    30000                 60  3000.0
2  Shabbar Alam   24    40000                 89  4000.0
3  Saood Sheikh   21    50000                 78  5000.0
4  Junaid Kiani   43    45000                 68  4500.0
5   Abdul Qadar   44    60000                 90  6000.0
6  Saqib Sheikh   34    43000                 95  4300.0
7    Ameen Khan   50    50500                 86  5050.0

In [4]:
# 2- adding using insert()  method,  using this method we can add column at specific location where we want 
# syntex:      df.insert(location_value, "column_name", some_data)
print("Employee data now having employee id: ")
df.insert(0, "EmployeeID", [10,20,30,40,50,60,70,80])
print(df)

Employee data now having employee id:
   EmployeeID          name  age  sallary  performance_score  Bonous
0          10   Bilal Kiani   22    20000                 50  2000.0
1          20    Afan Hafiz   23    30000                 60  3000.0
2          30  Shabbar Alam   24    40000                 89  4000.0
3          40  Saood Sheikh   21    50000                 78  5000.0
4          50  Junaid Kiani   43    45000                 68  4500.0
5          60   Abdul Qadar   44    60000                 90  6000.0
6          70  Saqib Sheikh   34    43000                 95  4300.0
7          80    Ameen Khan   50    50500                 86  5050.0