In [1]:
import pandas as pd

In [2]:
# sample data frame
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [3]:
# two ways of updating values: 
# 1- updating a specific cell, for this we use a method   .loc[]
# syntex: df.loc[row_index, "column_name"] = new_value
print("Sallary of Ameen Khan is inreased 4500: ")
df.loc[7, "sallary"] = 55000
print(df)

Sallary of Ameen Khan is inreased 4500:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    55000                 86

In [4]:
#2- updating the values of whole column: 
#syntex:   df["column_name"] = new data ,  simple condition 
print("Increasing sallaries of Employees 5%: ")
df["sallary"] = df["sallary"]*1.05
print(df)

Increasing sallaries of Employees 5%:
           name  age  sallary  performance_score
0   Bilal Kiani   22  21000.0                 50
1    Afan Hafiz   23  31500.0                 60
2  Shabbar Alam   24  42000.0                 89
3  Saood Sheikh   21  52500.0                 78
4  Junaid Kiani   43  47250.0                 68
5   Abdul Qadar   44  63000.0                 90
6  Saqib Sheikh   34  45150.0                 95
7    Ameen Khan   50  57750.0                 86