In [1]:
import pandas as pd

In [5]:
# sample data frame
Employee_data = {
    "name": ["Bilal Kiani", "Afan Hafiz", "Shabbar Alam", "Saood Sheikh", "Junaid Kiani", "Abdul Qadar", "Saqib Sheikh", "Ameen Khan"],
    "age": [22, 23, 24, 21, 43, 44, 34, 50],
    "sallary": [20000, 30000, 40000, 50000, 45000, 60000, 43000, 50500],
    "performance_score": [50, 60, 89, 78, 68, 90, 95, 86]
}
df = pd.DataFrame(Employee_data)
print("Sample DataFrame: ")
print(df)

Sample DataFrame:
           name  age  sallary  performance_score
0   Bilal Kiani   22    20000                 50
1    Afan Hafiz   23    30000                 60
2  Shabbar Alam   24    40000                 89
3  Saood Sheikh   21    50000                 78
4  Junaid Kiani   43    45000                 68
5   Abdul Qadar   44    60000                 90
6  Saqib Sheikh   34    43000                 95
7    Ameen Khan   50    50500                 86

In [6]:
# for removing any column pandas provides a method  .drop(),  
# syntex:   df.drop(columns= ["column_name"], inplace = true or false), 
# here inplace means when it is true the our modification will be in original dataset,
# but if inplace = flase means it will create new data set, will not updata the original one dataset

print("Modified Dataset: ")
df.drop(columns=['performance_score'], inplace=True) # here we deleted a column "performance_score"
print(df)

Modified Dataset:
           name  age  sallary
0   Bilal Kiani   22    20000
1    Afan Hafiz   23    30000
2  Shabbar Alam   24    40000
3  Saood Sheikh   21    50000
4  Junaid Kiani   43    45000
5   Abdul Qadar   44    60000
6  Saqib Sheikh   34    43000
7    Ameen Khan   50    50500

In [7]:
# and if we need to delete multiple columns at a time then syntex is:      df.drop(columns= ["column1", "column2", ...], inplace = True)
print("Modified Dataset: ")
df.drop(columns=["age", "sallary"], inplace=True)   # here i deleted two more columns, age and sallary
print(df)

Modified Dataset:
           name
0   Bilal Kiani
1    Afan Hafiz
2  Shabbar Alam
3  Saood Sheikh
4  Junaid Kiani
5   Abdul Qadar
6  Saqib Sheikh
7    Ameen Khan